@import url("config.css");
@import url("header.css");
@import url("home.css");
@import url("about.css");
@import url("services.css");
@import url("feedback.css");
@import url("contacts.css");
@import url("footer.css");

body{
    font-family: var(--text-font);
    background-color: var(--background-page);
    overflow-x: hidden;
}

.container {
    width: 80%;
    max-width: 106rem;

    margin: 0 auto;
}

a{
    text-decoration: none;
}

section:not(:first-of-type),footer{
    width:100%;
    margin-top:7rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
    text-transform: uppercase;
}

p, a {
    font-family: var(--text-font);
}

.number{
    width:90px;
}

h2.title-section{
    color:var(--primary-color);
    font-size:2rem;
    font-weight: bold;
    text-transform: uppercase;
}

h3.subtitle-section{
    color:var(--dark-text-color);
    font-size: 4.8rem;
    text-transform: uppercase;
    line-height: 5.5rem;
    max-width: 68rem;
}

h3.subtitle-section.line::after{
    content: '';
    background-color:var(--primary-color);
    display: block;
    height: 3px;
    width: 30%;
    margin:.5rem 0;
}

.background-vector1{
    position: absolute;
    bottom:0;
    z-index: -2;
    width: 100%;
    min-height: 190rem;
    object-fit: cover;
}

.background-vector2{
    position: absolute;
    z-index: -2;
    width: 100%;
    object-fit: cover;
    bottom:-7rem;
    max-height: 80rem;
}

@media (max-width:930px){
    section:not(:first-of-type){
        margin-top:4rem;
    }

    .number{
        display: none;
    }

    .container{
        width: 90%;
    }

    h2.title-section{
        font-size:1.6rem;
        text-align: center;
    }

    h3.subtitle-section{
        font-size: 2.4rem;
        line-height: 3rem;
        margin-left: 5%;
    }

    .carousel::-webkit-scrollbar{
        height:9px !important;
    }

    .background-vector{
        display: none;
    }
}