section#services .services-carousel{
    width:100%;
    height: 45rem;
    margin:2rem auto;
    position: relative;
}

section#services .services-carousel .carousel-block{
    position: absolute;
    background-color: var(--primary-color);
    width:42.5rem;
    height: 28.5rem;
    z-index: 1;
    border-radius: 5px;
}

.services-carousel .carousel-block h4{
    color:var(--light-text-color);
    font-size: 3.2rem;
    position: absolute;
    max-width: 23rem;
    right:1rem;
    bottom:1rem;
    text-align: center;
    font-family: var(--title-font);
}

.services-carousel .background-carousel{
    z-index: 0;
    position: absolute;
    top:3.5rem;
    background-color: var(--tertiary-color);
    width:90%;
    left:10%;
    padding:10rem 0 10rem 31rem;
    border-bottom-left-radius: 5px;
}

.services-carousel .background-carousel>img{
    position: absolute;
    bottom:10rem;
    cursor: pointer;
}

.left-arrow{
    left:8.5rem;
}

.right-arrow{
    left:13.5rem;
}

.carousel{
    display: flex;
    gap:3.5rem;
    overflow-x:scroll;
}

.carousel::-webkit-scrollbar{
    background-color:transparent;
    height: 12px;
    padding-top: 1rem;
    
}
.carousel::-webkit-scrollbar-thumb{
    border:3px solid var(--tertiary-color);
    background-color: var(--gray-text-color);
    border-radius: 10px;
}

.carousel .card-service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:4rem;
    background-color: var(--light-text-color);
    border-radius: 5px;
    min-width: 38rem;
}

.carousel .card-service img{
    width:4.5rem;
    height:4.5rem;
    margin-bottom: 1rem;
}

.carousel .card-service h4{
    font-size: 2.4rem;
    margin-bottom: 1rem;
    text-align: center;
}

.carousel .card-service p{
    color:var(--gray-text-color);
    font-size:2rem;
    text-align: center;
}

@media (min-width:1500px){
    section#services .services-carousel{
        width: 128rem;
    }
}

@media (max-width:800px){
    section#services .services-carousel{
        width:100%;
        margin:0;
        height: 21.6rem;
    }

    .carousel-block,.background-carousel>img{
        display: none;
    }

    .services-carousel .background-carousel{
        width: 100%;
        padding:3rem 0 3rem 5%;
        left: 0;
        top:1.5rem;
    }
    .carousel{
        gap:2rem;
    }

    .carousel .card-service{
        padding:1.7rem;
        min-width: 24rem;
    }
    
    .carousel .card-service img{
        width:3rem;
        height:3rem;
        margin-bottom: .5rem;
    }
    
    .carousel .card-service h4{
        font-size: 2rem;
        margin-bottom: .5rem;
        line-height: 2.2rem;
    }
    
    .carousel .card-service p{
        font-size:1.4rem;
    }
}